* {
    color: black;
    text-decoration: none;
}

header {
    border-bottom: 5px black solid;
}

.logo {
    width: 400px;
    padding: 30px;
}

nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px;
}

nav a {
    padding: 5px;
    margin: auto;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.product, .product-detail {
    padding: 5px;
    border: 20px white solid;
    display: flex;
    flex-direction: column;  
}

.product-detail p {
    width: 250px;
    text-align: left;
}


.product:hover {
    background-color: yellow
}

nav a:hover, .product-name:hover {
    font-weight: bold;
    background-color: yellow;
}


.product-image {
    width: 400px;
    border: 3px black solid;
}

.product-name {
    text-decoration: underline; 
}

select {
    width: 210px;
}

.price {
    font-weight: bold;
    padding: 10px;
    width: 200px;
}

.price span {
    text-align: center;
    padding: 5px;
    float: left;
}

.add-button {
    border: 3px black solid;
    background-color: white;
    font-weight: bold;
    padding: 5px;
    width: 100px;
    float: right;
}

.add-button:hover {
    background-color: yellow; 
  }